.meter_wrapper{
  position: relative; 
  left: 0; 
  top: 0;  
}
.pointer{
  postion: absolute;
  left:100px;
  top:10px;
  z-index: 2;
}
.pointer_label{
  width: 100px;
  float: left;
  text-align: center;
}
.pointer_meter{
  clear:both;
  float:left
}
.tbl_question{
}

.tbl_options{
  width: 150px;
  text-align: center;
}

.eval_type_tbl td{
  border: 1px solid rgb(190, 191, 185);
}

.eval_type_tbl{
  width: 800px;
}

.score_tbl{
  border: none;
}
.score_btn{
  width: 150px;
  padding-top: 35px;
  padding-left: 0px;
}